@media (min-width: 1200px) {
	.offcanvas-collapse {
		display: none;
	}
}

@media (max-width: 1199.98px) {	
	.offcanvas-collapse {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 0%;
		opacity: 0;
		height: 100%;
		padding-left: 20px;
		padding-right: 20px;
		z-index: 9999;
		background-color: #ffffff;
		transition: .3s ease-in-out;
		visibility: hidden;
	}
	.offcanvas-collapse.open {
		visibility: visible;
		width: 70%;
		opacity: 1;
	}
}

.offcanvas-open {
	overflow:hidden!important;
}

.offcanvas-open .navbar-nav {
	border-radius:0px;
}

.offcanvas-collapse .nav-item {
	border-bottom: 1px solid #f7f8f9;
	border-radius:0px;
}

.offcanvas-collapse .nav-item:last-child {
	border:none;
}

.offcanvas-collapse .sitename {
	text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0px;
    display: block;
    margin: auto;
    width: 100%;
}

.offcanvas-collapse .dropdown-menu .nav-item .dropdown-item {
	padding: 10px;
}

.offcanvas-collapse .dropdown-menu .nav-item .dropdown-item .dropdown-toggle .caret::after {
	float: right;
	margin-top: 7px;
}